*.pdf
err.log
*.aux
*.lof
*.out
*.lot
*.tex
*.toc

tex2pdf*
.metadata
TUINO_ZERO_96
*/testing-framework/
**/backup/
*.pyc
**/.ipynb_checkpoints/
**/ipch/
thesis/v8/1_intro.log
thesis/v8/4_results.log
thesis/v8/3_design.log
thesis/v8/2_litstudy.log
